@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,300&display=swap');

* {
    flex-shrink: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
}

.major-container {
    padding: 0px 14%;
    min-width: 1000px;
}

.dark-background {
    background-color: #1F2937;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0px;
    gap: 200px;
}

.header-logo {
    font-size: 24px;
    font-weight: 700;
    color: #f9faf8;
}

.header-links {
    display: flex;
    gap: 24px;
}

.header-link,
.hero-secondary-text {
    color: #E5E7EB;
    font-size: 18px;
}

.hero {
    display: flex;
    justify-content: space-between;
    padding: 100px 0px;
}

.hero-content {
    width: 475px;
}

.hero-text {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.hero-image {
    width: auto;
    height: 300px;
    border-radius: 16px;
}

.sign-up-button {
    background-color: #3882f6;
    font-size: 18px;
    font-weight: 700;
    color: #f9faf8;
    border-width: 0;
    border-radius: 8px;
    padding: 8px 36px;
    margin-top: 16px;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.information-header {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    padding: 50px 0px;
}

.information-images {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 48px;
    padding-bottom: 100px;
}

.information-image-container {
    width: 183px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #4d5969;
    gap: 4px;
}

.information-image {
    width: 175px;
    border: 4px solid #3882f6;
    border-radius: 16px;
}

.quote-background {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    padding-top: 150px;
    padding-bottom: 100px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937
}

.quote-author {
    text-align: right;
    align-self: flex-end;
    font-size: 24px;
    font-weight: 700;
    color: #1f2937;
    padding-right: 48px;
}

.quote-author > a {
    color: #1f2937;
}